@model KalmarBSK.Mvc.Models.SearchResult





<div class="row">
    @if (Model.Meetings != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Kommande Möten</h2></div>
                <div class="panel-body">
                </div>

                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Date)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Location)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Participants)</th>
                    </tr>
                    @foreach (var item in Model.Meetings)
                    {

                        if (item.IsUpcoming)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Date)</td>
                                <td>@Html.DisplayFor(x => item.Location)</td>
                                <td>@Html.DisplayFor(x => item.Participants)</td>
                            </tr>
                        }


                    }
                </table>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading"><h2>Gamla Möten</h2></div>
                <div class="panel-body">
                </div>

                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Date)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Location)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Participants)</th>
                    </tr>
                    @foreach (var item in Model.Meetings)
                    {
                        if (!item.IsUpcoming)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Date)</td>
                                <td>@Html.DisplayFor(x => item.Location)</td>
                                <td>@Html.DisplayFor(x => item.Participants)</td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    }
    

    @if (Model.Members != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Medlemmar</h2></div>
                <div class="panel-body">
                </div>

                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Members[0].FirstName)</th>
                        <th>@Html.DisplayNameFor(x => x.Members[0].LastName)</th>
                        <th>@Html.DisplayNameFor(x => x.Members[0].City)</th>
                        <th>@Html.DisplayNameFor(x => x.Members[0].Email)</th>
                    </tr>
                    @foreach (var item in Model.Members)
                    {

                        <tr>
                            <td>@Html.DisplayFor(x => item.FirstName)</td>
                            <td>@Html.DisplayFor(x => item.LastName)</td>
                            <td>@Html.DisplayFor(x => item.City)</td>
                            <td>@Html.DisplayFor(x => item.Email)</td>
                        </tr>


                    }
                </table>
            </div>
        </div>
    }
    
</div>