@model KalmarBSK.Mvc.Models.SearchResult




<div id="participants-modal"></div>
<div class="row">
    @if (Model.Meetings != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Kommande Möten</h2></div>
                <div class="panel-body">
                </div>

                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Datum)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].Adress)</th>
                        <th>@Html.DisplayNameFor(x => x.Meetings[0].MeetingParticipants)</th>
                    </tr>
                    @foreach (var item in Model.Meetings)
                    {

                        if (item.IsUpcoming)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Datum)</td>
                                <td>@Html.DisplayFor(x => item.Adress)</td>
                                @*<td>@Html.DisplayFor(x => item.MeetingParticipants.Count)</td>*@
                                <td>@Ajax.ActionLink("" + Html.DisplayFor(x => item.MeetingParticipants.Count), "GetParticipants", new { JSONModel = Json.Encode(item.MeetingParticipants.ToList()), }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "participants-modal", InsertionMode = InsertionMode.Replace })</td>
                            </tr>
                        }


                    }
                </table>
            </div>

            @if (Model.Meetings.Where(x => x.IsUpcoming == false).Count() > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Gamla Möten</h2></div>
                    <div class="panel-body">
                    </div>

                    <table class="table table-hover">
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Meetings[0].Datum)</th>
                            <th>@Html.DisplayNameFor(x => x.Meetings[0].Adress)</th>
                            <th>@Html.DisplayNameFor(x => x.Meetings[0].MeetingParticipants)</th>
                        </tr>
                        @foreach (var item in Model.Meetings)
                        {
                            if (!item.IsUpcoming)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => item.Datum)</td>
                                    <td>@Html.DisplayFor(x => item.Adress)</td>
                                    <td>@Html.DisplayFor(x => item.MeetingParticipants.Count)</td>
                                </tr>
                            }

                        }
                    </table>
                </div>
            }

        </div>
    }


    @if (Model.Members != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Medlemmar</h2></div>
                <div class="panel-body">
                </div>

                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Members[0].Namn)</th>
                        <th>@Html.DisplayNameFor(x => x.Members[0].Adress)</th>
                        <th>@Html.DisplayNameFor(x => x.Members[0].Telefon)</th>
                    </tr>
                    @foreach (var item in Model.Members)
                    {

                        <tr>
                            <td>@Html.DisplayFor(x => item.Namn)</td>
                            <td>@Html.DisplayFor(x => item.Adress)</td>
                            <td>@Html.DisplayFor(x => item.Telefon)</td>
                        </tr>


                    }
                </table>
            </div>
        </div>
    }

</div>