@model KalmarBSK.DataAccess.GameLocation

@{
    ViewBag.Title = "EditMeeting";
}



<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading"><h2><span class="glyphicon glyphicon-edit"></span> Ändra möte</h2></div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <table class="table table-hover">
                                    <tr>

                                        <th>@Html.DisplayNameFor(x => x.MeetingParticipants.FirstOrDefault().Personer.Namn)</th>
                                        <th>@Html.DisplayNameFor(x => x.MeetingParticipants.FirstOrDefault().Personer.Adress)</th>
                                        <th>@Html.DisplayNameFor(x => x.MeetingParticipants.FirstOrDefault().Personer.Telefon)</th>
                                        <th></th>
                                    </tr>
                                    @for (var i = 0; i < Model.MeetingParticipants.Count; i++)
                                    {


                                        <tr class="participants">

                                            <td>@Html.DisplayFor(x => Model.MeetingParticipants.ToList()[i].Personer.Namn)</td>
                                            <td>@Html.DisplayFor(x => Model.MeetingParticipants.ToList()[i].Personer.Adress)</td>
                                            <td>@Html.DisplayFor(x => Model.MeetingParticipants.ToList()[i].Personer.Telefon)</td>
                                            <td style="vertical-align:middle">
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                                </a>
                                            </td>
                                        </tr>



                                    }
                                </table>
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.ID)



                        
                    </div>
                }


            </div>

        </div>
    </div>
</div>

<script>
    $("table").on("click", ".glyphicon-remove", function () {
        if ($(".participants").length > 1) {
            $(this).closest(".participants").remove();


        }
    });
</script>
