@model IEnumerable<KalmarBSK.DataAccess.Meeting>
@{
    ViewBag.Title = "Meetings";
}

<h2>Kommande Möten</h2>

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Date)</th>
        <th>@Html.DisplayNameFor(x => x.Location)</th>
        <th>@Html.DisplayNameFor(x => x.Participants)</th>
    </tr>
    @foreach (var item in Model)
    {

        if (item.IsUpcoming)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Date)</td>
                <td>@Html.DisplayFor(x => item.Location)</td>
                <td>@Html.DisplayFor(x => item.Participants)</td>
            </tr>
        }


    }
</table>


<h2>Gamla Möten</h2>

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Date)</th>
        <th>@Html.DisplayNameFor(x => x.Location)</th>
        <th>@Html.DisplayNameFor(x => x.Participants)</th>
    </tr>
    @foreach (var item in Model)
    {
        if (!item.IsUpcoming)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Date)</td>
                <td>@Html.DisplayFor(x => item.Location)</td>
                <td>@Html.DisplayFor(x => item.Participants)</td>
            </tr>
        }

    }
</table>