@model IEnumerable<KalmarBSK.DataAccess.Member>
@{
    ViewBag.Title = "Members";
}

<h2>Medlemmar</h2>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(x => x.FirstName)</th>
        <th>@Html.DisplayNameFor(x => x.LastName)</th>
        <th>@Html.DisplayNameFor(x => x.City)</th>
        <th>@Html.DisplayNameFor(x => x.Email)</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(x => item.FirstName)</td>
            <td>@Html.DisplayFor(x => item.LastName)</td>
            <td>@Html.DisplayFor(x => item.City)</td>
            <td>@Html.DisplayFor(x => item.Email)</td>
        </tr>


    }
</table>
