@model KalmarBSK.DataAccess.GameLocation

@{
    ViewBag.Title = "NewMeeting";
}






<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-success">
            <div class="panel-heading"><h2><span class="glyphicon glyphicon-calendar"></span> Skapa nytt möte</h2></div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Skapa möte" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" id="delete-p">

                                <table class="table table-hover">
                                    <tr>

                                        <th>Namn</th>
                                        <th>Adress</th>
                                        <th>Telefon</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="vertical-align:middle"><a href="/Home/GetAvaibleMembers?meetingId=@(Model.ID)" data-ajax-update="#members" data-ajax-success="$('#myModal').modal()" data-ajax-mode="replace" data-ajax-method="Get" data-ajax="true"><span class="glyphicon glyphicon-plus text-success"></span></a></td>
                                    </tr>
                                </table>
                                    @*@Html.Partial("~/Views/Shared/_Participants.cshtml", Model.MeetingParticipants)*@
</div>
                        </div>


                        
                    </div>
                }
            </div>

        </div>
    </div>
</div>




<script>
    

    $(function () { 
        $('.datepicker').datepicker({
            todayBtn: "linked",
            language: "sv",
            todayHighlight: true,
            orientation: "top auto"
        });
    });

</script>